div {
	border: 2px solid;
	padding: 10px;
	margin: 5px;
	background-color: #291908;
}

img {
  max-width: 80%;
}

body {
  background-color: #1c1405;
}

.white {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.link {
	color: rgb(216, 182, 144);
	font-family: Arial, Helvetica, sans-serif;
}

.quote {
	background-color: #ffa60b;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}