html {
   width: 100%;
   height: 100%
}

.grid-item
{
 border: 4px solid black;
}

body {
    display: grid;
    grid-template-columns:
    1fr 1fr 1fr;
    grid-template-rows:
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

