body {
    background-color: thistle;
    background-image: url("https://external-preview.redd.it/uGYZK_3zdoYDqubzr-8C9yq47RR-E3mhoCH7pb2hXLQ.jpg?auto=webp&s=f037d02bce1ebab48bd1df63955342138d13fa7e");
}

h2 {
    color: #FFFFFF;
    text-align: center;
}

#pagetitle{
    background-color: tomato;
    text-align: center;
    padding: 50px;
    border: solid;
    border-width: 5px;
    margin: 20px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}